extends ../layout 

block content
  if messages.error
    div(role="alert").alert.alert-danger #{messages.error}

  a(href="/books").btn.btn-info Back
  br


  div.card
    div.card-header Add book
    div.card-body
      form(action="/books/add" method="post")
        div.form-group
          lable Name
          input(type="text" name="name" value=name autocomplelte="off").form-control
        div.form-group
          lable Author
          input(type="text" name="author" value=author autocomplelte="off").form-control
        div.form-group
          input(type="submit" value="Add").btn.btn-info
   
    
    
   
                    



        
        
                
              
          
        
    
